/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
/* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */
/* @import "component1.css";   Component-specific stylesheets, if any.   */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*   ----- Variables  -----  */
:root {    
    /* --highlight: #FCCA46; */
    --highlight: #4ECDC4;
    --black: #000000;
    --light-black: #292F36;
    --orange: #FCA311;
    --easy-white: #F7FFF7;
    --stone-blue: #4ECDC4;
    --black-black: #101419;
    --light-white: #f4f4f9;


    --body-max-width: 1200px;
    --side-space: 30px;
    --gallary-image-border-radius: 15px;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
    /* Can alternatively define in html {}. */
    background-color: #2f5165;
    color: var(--easy-white);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    /* Define with at least one font name and its related generic family name.*/
    margin: 0px auto;
    padding: 0px;
    max-width: var(--body-max-width);
}

/*  ----- Page layout blocks -----  */
header {
    background-color: black;
    padding: 10px var(--side-space);
    margin: 0px;
    font-size: large;
    border: none;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

header img{
    --bg-img-diameter: 40px;

    width: var(--bg-img-diameter);
    height: auto;
    background-color: var(--easy-white);
    border-radius: var(--bg-img-diameter);
    margin-left: 10px;
}

main {
    display: block;
    white-space: normal; 
    word-wrap: break-word; 
    color: var(--light-black);
    background-color: #EEF0EB;
    padding: 10px var(--side-space);
    padding-bottom: 20px; /* A space appears at the bottom without this */
    margin: 0px;
    border-top: 5px solid var(--highlight);
}

/* section {}

article {}

#topic1 {}

#topic2 {}

div {}

aside {} */

footer {
    background-color: black;
    padding: 10px var(--side-space);
    padding-bottom: 1px; /* A space appears at the bottom without this */
    margin: 0px;
    border-top: 5px solid var(--highlight);
}

/* ----- Anchors ----- Text links */
 
a {
    text-decoration: none;
}

/*
a:link {}

a:hover {}

a:active {}

a:visited {} */

/*  ----- Navigation ----- Override text links for navigation only.  */
#global {
    background-color: #153243;
    margin: 0px;
    font-size: larger;
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: left;
    
    flex-flow: row wrap;
}

nav a {
    color: var(--dark-green);
    padding: 15px 5%;
}

nav a:hover {
    background-color: var(--highlight);
    color: #000000;
}

#logo
{
    text-decoration: none;
    color: inherit;
}
/*  -----  Typography  ----- */
/* p {}

br {}

ol,
ul,
dl {}

li {}

dt {}

dd {} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

abbr {}

acronym {}

address {}

blockquote {}

q {}

cite {}

em {}

hr {}

mark {}

s {}

span {}

strong {}

sub {}

sup {}

time {} */

/*  ----- Coding or instructional typography ----- */
/* pre {}

code {
    color: var(--dark-blue);
    font-size: large;
    background-color: var(--black-alpha);
    border: 1px solid var(--emerald);
    border-radius: 5px;
    padding: 0px 5px;
}



kbd {}

samp {}

var {}

del {}

ins {} */

/*  ----- Table ----- */


/*
caption {}

thead {}

tbody {}

tfoot {}

tr {}

tr:nth-child(even) {}



td:nth-child(1) {}

colgroup {}

data {}

datalist {} */


/*  ----- Form ----- */
/* form {}

fieldset {
    color: var(--dark-green); */
    /* background-color: var(--light-cyan-alpha);
    border: 5px solid var(--strong-blue);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
    font-size: 120%;
    display: block;
}

legend {
    color: var(--dark-blue);
    background-color: var(--black-2);
    border: 4px solid var(--strong-blue);
    border-radius: 10px;
    padding: 3px 10px;
    margin: 3px;
}
*/

#acc-options-container{
    margin-bottom: 15px;
}

.inputbox
{
    background-color: #F7FFF7;
    color: var(--light-black);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}


.customurltext {
    display: block;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
}



label{
    font-size: 1.2em; 
    margin-bottom: 10px;

}


button{
    width: 160px;
    background-color: var(--light-black);
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 5px;
}


.account-options{
    color: var(--light-black);
    background-color: var(--easy-white);
}



button:hover, 
select:hover,
#track:hover,
#custom:hover,
#clear:hover,
#copyButton:hover,
#toggle-hidden:hover,
#submit:hover,
.account-options:hover
{
    color: var(--light-black);
    background-color: var(--highlight);
}


button:disabled{
    background-color: #717273;
    color: white;
    cursor: not-allowed;
}


input:focus,
textarea:focus{
    border-color: var(--highlight);
}


input {
    font-size: 100%;
    background-color: #F7FFF7;
    color: var(--light-black);
    padding: 2px 5px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
}


select{
    font-size: 100%;
    background-color: #F7FFF7;
    color: var(--light-black);
    padding: 2px 5px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 20px 0px;
}

*::placeholder{
    color: #a1a3a0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#urlbox{
    width: 99%;
    height: 50px;
    display: block;
    float: left;
    font-size: 25px;
    padding: 0px 20px;
}

/* #get-url{ 
    margin-top: 100px;
} */

#get-url h1{
    margin-bottom: 0px;
}

#options{
    display: block;
    margin-top: auto;
}

.options{
    margin-bottom: 10px;
    width: 180px;
    height: 45px;
    margin-top: 0px;
    font-size: 20px;
}

.hidden{
    display: none;
}

#alias-label{
    padding-top: 20px;
}

#alias{
    margin-top: 5px;
}

#main-page-description{
    font-size: 150%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

#alias{
    width: 100px;
}

.customText{
    color: red;
    display: none;
}

.custom{
    text-decoration: none;
}

#shortUrlContainer
{
    margin-bottom: 20px;
}

/* #copyShortURLButton{
    float: right;
} */

/* #short-url-container{
    display: block;
    width: 400px;
} */


/* #track{
    background-color: #2AB7CA;
    color: white;
}

#custom{
    background-color: #e2b52e;
    color: white;
}

#clear{
    background-color: #FE4A49;
    color: white;
}

#copyButton{
    background-color: #0AD874;
    color: white;
}

#toggle-hidden{
    background-color: #FCA311;
    color: white;
}

#submit{
    background-color: black;
    color: white;
} */

/*
select {
    font-size: 100%;
    background-color: var(--black-2);
    color: var(--dark-blue);
    padding: 2px;
    border: 2px solid var(--emerald);
    border-radius: 4px;
}

optgroup {}

option {}

textarea {
    font-size: 100%;
    background-color: var(--black-2);
    color: var(--dark-blue);
    border: 2px solid var(--emerald);
    border-radius: 4px;
    min-width: 300px;
    min-height: 50px;
    max-width: 70%;
    max-height: 270px;
    margin-left: 5px;
    padding: 5px;
}

output {}

meter {}

progress {} */


/* ----- Media ----- */
/*figure {}

figcaption {}

figure img {}

svg {}

picture {}

source {}

iframe {}

video {}

audio {}

embed {}

object {} */

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.gallery figure{
    --image-border: 4px;
    --image-margin: 5px;
    
    padding: 0px;
    margin: var(--image-margin);
    border: var(--image-border) solid var(--dark-blue);
    border-radius: calc(1.2 * var(--gallary-image-border-radius));

    max-width: calc(((var(--body-max-width) - 2 * var(--side-space))/2) - ((var(--image-border) + var(--image-margin)) * 2));
    width: 100%;

    background-color: black;
}

.gallery img{
    width: 100%;
    border-radius: var(--gallary-image-border-radius) var(--gallary-image-border-radius) 0px 0px;
    border-bottom: var(--image-border) solid var(--dark-blue);
}

.gallery figcaption{
    padding: 5px 10px;
    font-size: large;
}

/*
.floatright {}

.floatleft {}

.center-middle {}

.ten {}

.twenty {}

.thirty {}

.forty {}

.fifty {}

.sixty {}

.seventy {}

.eighty {}

.radius {}

.circle {}

.boxshadow {}

.tshadow {}

.gradient {}

.shape {} */

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}